.products_container {
  display: flex;

  flex-direction: column;
  gap: '10px 0';
  margin-top: 46px;
}
.product {
  background: #fff;
  margin: 0 45px;
  padding: 3%;
  height: 215px;
}
.barcode {
  background: #fff;
  margin: 46px;
  padding: 3%;
  height: 215px;
}
.Barcode_Qrcode {
  border: 1px solid #edf1fa;
  padding: 12px;
  border-radius: 15px;
}
